@use '../scss/utils/' as *;

.create-codebook{
    padding: 18px;

    form > *{
        margin-top: rem(8);
    }

    .formgroup > *{
        display: block;
    }
    .formgroup > *:not(:first-child) {margin-top: rem(4);}
    .formgroup{
        input, select{
            width: 100%;
            padding: rem(8);
            outline: none;
            border: 1px solid purple;
            border-radius: rem(4);
        }
    }
    .btn{
        width: 100%;
        padding: 8px;
        margin-top: 16px;
        background-color: $color-green;
        color: $color-purple;
        font-family: 'Poppins', sans-serif;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
            filter: brightness(.86);
        }
    }
}